html, body {
     height: 100%;
     margin: 0;
     padding: 0;
}

 #site-container {
     height: 100%;
     position: relative;
}

 #site-bar {
     width: 100%;
     font-size: 1.5em;
     letter-spacing: 1px;
     text-align: center;
     margin: 0 auto;
     padding-top: 20px;
     height: 55px;
     position: absolute;
     z-index: 1;
     box-shadow: 5px 10px 8px #888888;
     background-color: white;
}

 #options-container {
     height: 100%;
     width: 325px;
     left: -350px;
     background-color: white;
     text-align: left;
     padding: 10px;
     position: absolute;
     z-index: 1;
     box-shadow: 5px 10px 8px #888888;
     transition: left .5s ease;
}

h3 {
     margin-top: 0;
     padding-top: 10px;
}

 #option-menu {
     width: 85%;
}

 #map {
     bottom: 0px;
     height: 100%;
     width: 100%;
     right: 0px;
     position: relative;
}

 .show-menu-bars {
     float: left;
     padding-top: 4px;
     padding-left: 20px;
     color: black;
     cursor: pointer;
}
.show-menu-bars:hover {
     color: aqua;
     transition: color 1s ease;
}

 .hide-menu {
     float: right;
     padding-right: 15px;
     cursor: pointer;
}
.hide-menu:hover {
     color: aqua;
     transition: color 1s ease;
}

 .filter-menu {
     margin-bottom: 10px;
     margin-top: 10px;
}

 #fourSquare {
     margin-top: 70px;
}

 .fa-foursquare {
     color: #ed3b3b;
}

 p {
     font-weight: bold;
     margin: 0 auto;
     text-decoration: underline;
}

img {
     border: .5px solid #ed3b3b;
     margin: 2px;
     margin-bottom: 4px;
}

 button {
     background-color: white;
}
ul {
     list-style: none;
     margin-top: 10px;
     margin-bottom: 0;
     padding: 5px;
}
.list-item {
     border: 1px solid black;
     padding: 2px;
     margin: 5px;
     background-color: #f98d85;
}
.list-item:hover {
     background-color: white;
     cursor: pointer;
}
#error-div {
    position: relative;
    z-index: 1;
    top: 110px;
    text-align: center;
    color: red;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
     #site-bar {
          font-size: 1em;
          height: 45px;
     }
}