html, body {
     height: 100%;
     margin: 0;
     padding: 0;
}

 #site-container {
     height: 100%;
     position: relative;
}

 #site-bar {
     width: 100%;
     font-size: 26px;
     background-color: #80dfff;
     text-align: center;
     margin: 0 auto;
     padding-top: 20px;
     height: 55px;
     border: 2px solid white;
     position: absolute;
     z-index: 1;
}

 #options-container {
     height: 100%;
     width: 325px;
     text-align: left;
     padding: 10px;
     background-color: #80dfff;
     position: absolute;
     z-index: 1;
     border: 2px solid white;
     display: none;
}

h3 {
     margin-top: 0;
     padding-top: 10px;
}

 #option-menu {
     width: 85%;
}

 .fa-filter {
     color: green;
     padding-left: 5px;
}

 #map {
     bottom: 0px;
     height: 100%;
     width: 100%;
     right: 0px;
     position: relative;
}

 .show-menu-bars {
     float: left;
     padding-top: 4px;
     padding-left: 20px;
}

 .hide-menu {
     float: right;
     color: red;
     padding-right: 15px;
}

 .filter-menu {
     margin-bottom: 10px;
}

 #fourSquare {
     margin-top: 55px;
}

 .fa-foursquare {
     color: #ed3b3b;
}

 p {
     font-weight: bold;
     margin: 0 auto;
}

 button {
     background-color: white;
}